extend layout
block content
    div.card-body   
        div.col-md-6
            header.card-header
                h4.card-title Registered Users
            table.table
                thead.thead-dark
                    tr
                        th First Name
                        th First Name
                        th User Name
                        th Email address
                        th Gender
                        th Country
                        th City
                      
                        

                tbody
                    each user in users
                        tr
                            td #{user.first_name}
                            td #{user.last_name}
                            td #{user.email}
                            td #{user.gender}
                            td #{user.country}
                            td #{user.city}
                            
                                form(method="post" action='/register/delete')
                                    input(type="hidden", placeholder="", name="id", value=user._id)
                                    button.btn.btn-dark.btn-block(type="submit") Delete
                            