extend layout
block content
    div.card-body   
        div.col-md-6
            header.card-header
                h4.card-title Registered Users
            table.table
                thead.thead-dark
                    tr
                        th First Name
                        th First Name
                        th Password
                        th Email address
                        th Gender
                        th Country
                        th City
                        th Delete
                        th Search
                        

                tbody
                    each user in users
                        tr
                            td #{user.first_name}
                            td #{user.last_name}
                            td #{user.password}
                            td #{user.email}
                            td #{user.gender}
                            td #{user.country}
                            td #{user.city}
                            td #{user.delete}
                            td #{user.search}
                            
                            